@page "/"

<PageTitle>Home</PageTitle>

<div class="flex flex-grow">
    <div class="w-1/2 m-16">
        <h1 class="font-extrabold text-7xl mb-6">Hello, world!</h1>
        <p class="text-xl mb-20">Welcome to your new app.</p>
    </div>

    <FluentCard Width="400px" Height="250px">
        <h2>Hello World!</h2>
        <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
    </FluentCard>
</div>
